__pycache__/
*.pyc
.venv/
venv/
.env
data/raw/*
!data/raw/.gitkeep
data/processed/*
!data/processed/.gitkeep
models/*.pkl
models/*.joblib
.pytest_cache/
.ruff_cache/
.ipynb_checkpoints/
Problem_brief_2.md
models/prophet
mlflow.db
mlartifacts/
mlruns_tmp_artifacts/
models/*.joblib
.pytest_cache/
.ruff_cache/
.ipynb_checkpoints/